################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Project1/.vs/Project1/v16/Browse.VC.opendb
